body {
	margin: 0px;
	padding: 0px;
	background: #BCDAF4;
	font-family: 'Gothic', 'chivo', sans-serif;
	font-size: 12pt;
	font-weight: 300;
	color: #09E5FC;
}
h1, h2, h3 {
	margin: 0px;
	padding:0px;
}
p, ol, ul {
	margin-top: 0px;
}
p {
	line-height: 190%;
}
a {
	color:#8EC7F8 ;
}
a:hover {
	text-decoration: none;
}
a img {
	border: none;
}
	.image
	{
	display: inline-block;
	width:100%;
	margin: 0 0 2em 0;
	}
		.image img
		{
			display: block;
			width: 100%;
		}
ul.style1 {
	margin: 0;
	padding: 0;
	list-style: none;
}
ul.style1 li {
	border-top: solid 1px #D2D2D2;
	padding: 0.80em 0;
}
ul.style1 li:first-child
{
	border-top: 0;
	padding-top: 0;
}
ul.style2 {
	margin: 0;
	padding: 0;
	list-style: none;
}
ul.style2 li {
	border-top: solid 1px #D2D2D2;
	padding: 0.80em 0;
}
ul.style2 li:first-child
{
	border-top: 0;
	padding-top: 0;
}
.title{
	margin-bottom:2em;
	text-transform:uppercase;
}
.title h2
{
	font-weight: 400;
	font-size: 2em;
	color: #010B4C;
	}
.fontshadow
{
	font-size: 22px;
	color:#7DBEF6;	
	text-shadow: 0 1px 5px #03FFFF;
	
}
.title .byline {
	letter-spacing: 0.15em
	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.90em;
	color: #FFFFFF;
}
#wrapper {
	background: #011492; url(bg01.png) repeat;
}
#footer-wrapper{
	background: #7DBEF6;
}
.container {
	width: 1200px;
	margin: 0px auto;
}
#header-wrapper{
	overflow: hidden;
	background-size: 200%;
	padding: 6em 0em 2em 0em;
	background: #7DBEF6;
	text-align: center;
}
	#header
	{	
		position: static;
		overflow: static position
		text-align: center;
	}

	#logo 
	{
		width: 500px;
		height: 200px;
		margin: 0 auto;
		padding: 2em 0em;
		text-transform: uppercase;
	}
.fontsize1 
{
	font-size: 45px;
}
.fontsize2
{
	font-size: 20px;
}
.fontsize3
{
	font-size: 18px;
}
	#logo a 
	{
		text-decoration: none;
		color: #FFF;
	}
	#banner
	{
	overflow: hidden;
	height: 330px;
	background:url(background1.jpg) no-repeat center;
	}
	#menu-wrapper
{
	background: #011492;
}
#menu {
	overflow: hidden;
	height: 100px;
	
}
#menu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
	font-size: 18px;
}
#menu li {
	display: inline-block;
}
#menu a:hover, #menu .current_page_item a{
	text-decoration: none;
}
.page_item1:hover {
	background: #7686EF;
	text-decoration: none;
}
#menu .current_page_item a {
	background: #7686EF;
	text-decoration: none;
}
#page
{
	position: relative;
	overflow: hidden;
	padding: 6em 0em 5em 0em;
}

#content
{
	position: relative;
	width: 790px;
}
	#sidebar
	{
		float: left;
		width: 345px;
	}
	#sidebar .title h2
	{
		font-size: 1.6em;
	}
	#sidebar .box1
	{
		margin-bottom: 3em;
	}

.button{
	display: inline-block;
	margin-top: 1.5em;
	padding: 0.05em 3em 0.50em 2em;
	background: #BCDAF4;
	text-decoration: uppercase;
	letter-spacing: 0.02em;
	font-weight: 400;
	font-size: 0.90em;
	color: #010D5B;
}
	#portfolio-wrapper
	{
		background: rgba(0,0,0,.04);
		padding: 6em 0em;
		color: #000407;
	}
	#portfolio
	{
		overflow:hidden;
	}
	#portfolio .title h2
	{
		font-size: 1.2em;
		color: #634EF2;
	}
	.column1, .column2, .column3{
		width:282px;
		position:relative;
	}
	.column1, .column2, .column3 {
		float: left;
		margin-right: 24px;
		position:relative;
		display:inline;
	}
	#footer-wrapper
	{
		overflow: hidden;
		padding: 5em 0em;
		background: #0260B1;
	}
	#footer
	{
		color:#BCDAF4;
	}
	#footer .title h2
	{
		font-weight: 400;
		font-size: 1.2em;
		color: #0260B1;
	}
	#footer .title
	{
		border-color: #1E1F2A !important;
	}
	#footer .style1 li
	{
		border-color: #1E1F2A !important;
	}
		#footer .style1 a
		{
			font-size:1em;
			color: #0260B1;
		}
	#box1, #box2{
		float: left;
		width: 354px;
		margin-right: 24px;
		padding-right: 30px;
	}
	#box3
	{
		float: right;
		width: 344px;
		padding-left: 40px;
	}
	#copyright 
	{
		overflow: hidden;
		padding: 5em 0em;
		text-align: center;
	}
	#copyright p
	{
		letter-spacing: 0.20em;
		text-align: center;
		text-transform: uppercase;
		font-size: 0.80em;
		color: #042C50;
	}
	#copyright a 
	{
		text-decoration: none;
		color: #042C50;
	}
	#welcome 
	{
		overflow: hidden;
		padding: 5em 0em;
		border-bottom: 1px solid #E5E5E5;
		text-align: center;
	}
	#welcome h2 
	{
		letter-spacing: 0.20em;
		text-transform: uppercase;
		font-size: 2.6em;
	}
	#welcome p 
	{
	font-size: 1.3em;
	}
	#welcome .byline 
	{
		display: block;
		padding: 0em 0em 1.5em 0em;
		letter-spacing: 0.15em;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1.2em;
		color: #042C50;
	}
@charset "UTF-8";